.search-icon {
  width: 15px;
  height: 30px;
  border-radius: 70px;
  padding: 15px;
}

.guest-btn {
  padding: 5px 10px !important;
}

.separator {
  height: 23px;
}

.middle-group {
  height: 50px;
}

.menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: white;
}

.search {
  width: 380px;
}
